<h1>Job History</h1>
<%= link_to "New Job", new_customer_work_path(params[:customer_id], @works), class: "btn btn-primary"%>
<div>
<% if @works.present?%>
<table class="table table-borderless mt-5 prospects-table">
    <tbody>
        <thead>
            <tr>
                <th>Job</th>
                <th>Description</th>
                <th>Price</th>
                <th>Status</th>
            </tr>
        </thead>
        <% @works.each do |job|%>
        <tr>
            <td><%=job.job%></td>
            <td><%=job.description%></td>
            <td><%=job.price%>$</td>
            <td><%=job.status%></td>
            <td></td>
            <td>
          <%= link_to edit_customer_work_path(params[:customer_id], job) do %>
            <i class="fas fa-edit mx-3 edit-btn"></i>
          <% end %>

          <%= link_to customer_work_path(params[:customer_id], job), data:{turbo_method: :delete} do %>
            <i class="fas fa-trash-alt delete-btn"></i>
          <% end %>             
            </td>
            <%end%>
        <%else%>
            <p>All clear</p>
        <%end%>
        </tr>
    </tbody>
</table>
</div>