<h1>Nuevo Cliente</h1>

<%= simple_form_for @customer do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :email %>
  <%= f.input :phone %>
  <%= f.input :main_address %>
  <%= f.input :status %>
  <%= f.submit class: "btn btn-primary" %>
<% end %>
